body{
    font-family: 'Roboto', sans-serif;/* FUENTE */
    max-width: 900px; /* alt + shift + a -- Ancho    maximo */
    margin: 0 auto;/* margen */
}
nav{
    width: 100%; /* Ancho */
    height: 160px;/* Alto */
    background-color: rgba(78, 235, 235, 0.8);

}

nav ul li {
list-style-type:none;
display: inline-block;
}

img{
    margin: top 200px; ;
}